VIRTUALPOS_API_KEY=tu_api_key_virtualpos
VIRTUALPOS_SECRET_KEY=tu_secret_key_virtualpos
VIRTUALPOS_ENV=sandbox
VIRTUALPOS_TIMEOUT=30

# Opcional: para pruebas especificas con IDs existentes.
# VIRTUALPOS_PAYMENT_ID=3216491b000c803e
# VIRTUALPOS_PLAN_ID=3972d348f0398dda9f0b97354218742b
# VIRTUALPOS_SUSCRIPTION_ID=569a7cf1b2
# VIRTUALPOS_CHARGE_ID=cid_798140bcd7ee8841b64828781a944c3f
